
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

img {
    max-width: 100%;
    display: block;
}

@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/GraphikRegular.otf") format("opentype");
}

@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/GraphikSemibold.otf") format("opentype");
}

.header {
    height: 86px;
    width: 100%;
}

.header__box {
    height: 100%;
    display: flex;
    align-items: center;
}

.box {
    width: 100%;
    min-width: 320px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    z-index: 3000;
}

.nav {
    display: flex;
    height: 100%;
    margin-left: auto;
    padding-top: 86px;
    padding-bottom: 86px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list .nav__item:first-child a{
    padding-left: 0px;
}

.nav__list .nav__item:last-child a{
    padding-right: 0px;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__link {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    line-height: 26px;
    transition: color 0.2s ease-in-out;
}

.nav__link:hover {
    color: #3a41f5;
}

.nav__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3110;
    width: 80px;
    height: 86px;
}

.nav__btn-line {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    width: 28px;
    margin-top: -1px;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

.nav__btn-line:before {
    top: -6px;
    transition: top .1s .25s ease-in, opacity .1s ease-in;
}

.nav__btn-line:after {
    bottom: -6px;
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav__btn-line:before, .nav__btn-line:after {
    content: '';
    left: 0;
    right: 0;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

.nav__btn-line, .nav__btn-line:before, .nav__btn-line:after {
    position: absolute;
    height: 2px;
    background-color: #000;
    transform-origin: center center;
}

.title {
    display: flex;
    align-items: center;
}

.title-text {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    color: #000;
}

#title_img1 {
    width: 88px;
    height: 40px;
}

#title_img2 {
    width: 44px;
    height: 44px;
}

#title_img3 {
    height: 44px;
    width: 62px;
}

.title-button {
    display: block;
    margin-top: 40px;
    width: 352px;
    height: 72px;
    text-decoration: none;
    background-color: #3933F5;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.title-button:hover {
    background-color: #000000;
}

.title-button span {
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
}

/* nav breakpoints */

@media (max-width: 767px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        background-color: #ebebeb;
        padding-top: 64px;
        padding-bottom: 64px;
        visibility: hidden;
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 767px) {
    .nav__list {
        margin-top: -7px;
        display: block;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 767px) {
    .nav__link {
        display: block;
        padding: 7px 20px;
        line-height: 28px;
    }
}

@media (min-width: 768px) {
    .nav__link {
        padding: 32px;
    }
}

@media (min-width: 768px) {
    .nav__btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav-opened .nav {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-opened .nav__btn-line {
        transform: rotate(225deg);
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
        
    .nav-opened .nav__btn-line:before {
        top: 0;
        opacity: 0;
        transition: top .1s ease-out, opacity .1s .12s ease-out; 
    }
    .nav-opened .nav__btn-line:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
    }
    
    .nav-opened .nav__item a {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 30px;
    }

    .nav-opened .nav__list {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -50%;
    }

    .nav-opened .nav__item {
        justify-content: center;
        margin-top: 25px;
    }
}

/* common box breakpoints */

@media (min-width: 960px) and (max-width: 1170px) {
    .box {
        padding-left: 135px;
        padding-right: 135px;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .box {
        padding-left: 90px;
        padding-right: 90px;
    }
}

@media (max-width: 767px) {
    .box {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
}

/* title section breakpoints */

@media (max-width: 570px) {
    .title-text {
        font-size: 25px;
        line-height: 48px;
    }

    #title_img1 {
        width: 38px;
        height: 18px;
    }

    #title_img2 {
        width: 19px;
        height: 19px;
    }

    #title_img3 {
        width: 27px;
        height: 19px;
    }

    .title-button {
        width: 100%;
    }
}

@media (min-width: 571px) and (max-width: 1170px) {
    .title-text {
        font-size: 48px;
    }
}


